
{% extends "base.html" %}


{% block content %}
<h1>Welcome to Wuzzle Blog</h1>

<div class="carousel">
    {% for post in latest_posts %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
  <img src="https://via.placeholder.com/1200x400" class="d-block w-100" alt="{{ post.title }}">
  <div class="carousel-caption d-none d-md-block">
    <h5>
      <a href="{% url 'post_detail' post.pk %}" class="text-white">{{ post.title }}</a>
    </h5>
    <p>{{ post.content|truncatechars:100 }}</p>
  </div>
</div>

    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}
</div>
{% endblock %}
