{% extends "base.html" %}
{% load cloudinary %}

{% block content %}
<div class="container custom-container">

    <h1 class="mb-4 text-center">Welcome to WuzziBlog</h1>

    {% if latest_posts %}
    <div class="card custom-card"> <div id="postCarousel" class="carousel slide custom-carousel" data-bs-ride="carousel">
            <div class="carousel-inner">

                {% for post in latest_posts %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <a href="{% url 'posts:post_detail' slug=post.slug %}" class="d-block w-100 text-decoration-none">
                        {% if post.image %}
                            {% cloudinary post.image class="d-block w-100 card-img-top" crop="fit" width=800 alt=post.title %}
                        {% else %}
                            <img src="https://via.placeholder.com/800x600" class="d-block w-100 card-img-top" alt="Placeholder">
                        {% endif %}
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ post.title }}</h5>
                            <p>{{ post.content|striptags|truncatechars:100 }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#postCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#postCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div> {% else %}
        <p class="text-center">No posts yet.</p>
    {% endif %}

</div>
{% endblock content %}